<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta charset="utf-8">

<html lang="en" ng-app='app' xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>angular-mood</title>

  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <script type="text/javascript"  src="bower_components/angular/angular.js"></script>
  <script type="text/javascript"  src="bower_components/underscore/underscore-min.js"></script>
  <script type="text/javascript"  src="bower_components/d3/d3.min.js"></script>
  <script type="text/javascript"  src="bower_components/tinycolor/tinycolor.js"></script>

  <link href="bower_components/highlightjs/styles/github.css" rel="stylesheet">
  <script type="text/javascript" src="bower_components/highlightjs/highlight.pack.js"></script>
  <script type="text/javascript" src="bower_components/angular-highlightjs/angular-highlightjs.min.js"></script>


  <script type="text/javascript"  src="bower_components/angular-mood/angular-mood.js"></script>
  <link href="bower_components/angular-mood/angular-mood.css" rel="stylesheet">

  <script type="text/javascript" src="app.js"></script>
  <link href="style.css" rel="stylesheet">

</head>

<body ng-controller="Ctrl" ng-style="getBodyStyle()">

	<div class='container' >

		<div class='row'>
			<div class='col-sm-8'>

				<br/>
		
				<h1>angular mood </h1>

				<p class='lead'>
					intuitive moods and emotions 
				</p>

				<p>
				<strong>angular-mood</strong> provides a library of 100 moods that are spatially organized and color coded to make them easy to navigate and visualize. It is modeled after the excellent <a href='http://moodmeterapp.com/'>MoodMeter app</a> conceived by Dr. Marc Brackett at the <a href='http://www.ei.yale.edu/ruler/the-anchors-of-emotional-intelligence'>Yale Center for Emotional Intelligence</a>.
				</p>

				<p>
					It was developed by Dr. David Milne from the 
					<a href='http://www.positivecomputing.org/'>Positive Computing Lab</a> at the 
					<a href='http://www.sydney.edu.au'>University of Sydney</a>.
				</p>

				<br/>

				<h2>Installation</h2>

				<p>
					Check out the <a href='https://github.com/dnmilne/angular-mood'>GitHub repository</a> for source code and installation instructions.
				</p>

				<br/>

				<h2>Moods</h2>

				<p>
				    A mood is a simple json object, like 
					<code> { "name":"restful", "valence":0.5, "arousal":-0.5 }</code>
				</p>

				<ul>
					<li>
					<strong>valence</strong> ranges from <code>-1</code> (extremely unpleasant) to <code>+1</code> (extremely pleasant).
					</li>

					<li>
						<strong>arousal</strong> ranges from <code>-1</code> (low energy) to <code>+1</code> (high energy).
					</li>
				</ul>

				<br/>

				<h2>Mood Canvas</h2>

				<p>
					The <strong>mood-canvas</strong> directive presents a color-coded 10 x 10 grid of all moods. 
				</p>
				<p>
					The canvas is responsive, so it will always expand to take up the full width of its parent container, and will always be square. The parent container should be a <code>div</code> with no other children.
				</p>

<div hljs language='xhtml'>
<mood-canvas selected='selected' hovered='hovered' counts='counts' config='config'>
</mood-canvas>
</div>

				<h4 ng-click='showCanvasAttributes = !showCanvasAttributes' class='clickable'>
					<span ng-hide='showCanvasAttributes' class='glyphicon glyphicon-plus-sign'></span>
					<span ng-show='showCanvasAttributes' class='glyphicon glyphicon-minus-sign'></span>
					Attributes
				</h4>

				<div ng-show='showCanvasAttributes'>

					<table >
						
						<tr>
							<td class='text-right'><strong>selected</strong></td>
							<td>
								<p>
									The selected mood.
								</p>
								<p class='small'>
									
									<span class='text-muted'>currently</span> 

									<code>
										<span ng-show='mood'>{{mood}}</span>
										<span ng-hide='mood'>undefined</span>
									</code>

									&nbsp;

									<a ng-show='mood' class='btn btn-default btn-xs' ng-click='mood = undefined'>clear</a>
								</p>
							</td>
						</tr>
						<tr>
							<td class='text-right'><strong>hovered</strong></td>
							<td>
								<p>
								The hovered mood. This only needs to be specified if you want to monitor it. 
								</p>
								<p class='small'>
									<span class='text-muted'>currently</span>
									<code>
										<span ng-show='hoveredMoodInCanvas'>{{hoveredMoodInCanvas}}</span>
										<span ng-hide='hoveredMoodInCanvas'>undefined</span>
									</code>
								</p>
							</td>
						</tr>
						<tr>
							<td class='text-right'><strong>counts</strong></td>
							<td>
								<p>
									A map associating mood names with counts, so that common moods can be emphasized. This only needs to be specified if you would like moods to vary in size.
								</p>
								<p>
									<a class='btn btn-default btn-xs' ng-click='randomizeMoodCounts()'>randomize</a>
									<a class='btn btn-default btn-xs' ng-click='clearMoodCounts()' ng-show='counts'>clear</a>
								</p>
							</td>
						</tr>
						<tr>
							<td class='text-right'><strong>config</strong></td>
							<td>
								<p>
									A JSON object that configures the canvas, described below. This only needs to be specified if you would like to deviate from the default configuration.
								</p>
							</td>
						</tr>
					</table>

				</div>

				<h4 ng-click='showCanvasConfig = !showCanvasConfig' class='clickable'>
					<span ng-hide='showCanvasConfig' class='glyphicon glyphicon-plus-sign'></span>
					<span ng-show='showCanvasConfig' class='glyphicon glyphicon-minus-sign'></span>
					Configuration
				</h4>

				<div ng-show='showCanvasConfig'>

					<p>
						The <strong>config</strong> object can optionally specify any of the following properties:
					</p>

					<table>
						<tr>
							<td class='text-right'><strong>showAxii</strong></td>
							<td>
								<p>
									<code>true</code> if the canvas should show axis labels (<em>good</em>, <em>bad</em>, <em>low energy</em>, <em>high energy</em>) when no mood is selected, otherwise <code>false</code>. Defaults to <code>true</code>
								</p>
								<p class='small'>
									<span class='text-muted'>currently</span>
									<label><input type="radio" ng-model="config.showAxii" ng-value='true'>&nbsp;true</label>
									<label><input type="radio" ng-model="config.showAxii" ng-value='false'>&nbsp;false</label>
								</p>
							</td>
						</tr>
						<tr>
							<td class='text-right'><strong>showPrompt</strong></td>
							<td>
								<p>
									<code>true</code> if the canvas should show a prompt (<em>plot mood</em>) when no mood is selected, otherwise <code>false</code>. Defaults to <code>true</code>
								</p>
								<p class='small'>
									<span class='text-muted'>currently</span>
									<label><input type="radio" ng-model="config.showPrompt" ng-value='true'>&nbsp;true</label>
									<label><input type="radio" ng-model="config.showPrompt" ng-value='false'>&nbsp;false</label>
								</p>
							</td>
						</tr>
						<tr>
							<td class='text-right'><strong>readOnly</strong></td>
							<td>
								<p>
									<code>true</code> if the canvas should not allow the user to change the selected mood, otherwise <code>false</code>. Defaults to <code>false</code>
								</p>
								<p class='small'>
									<span class='text-muted'>currently</span>
									<label><input type="radio" ng-model="config.readOnly" ng-value='true'>&nbsp;true</label>
									<label><input type="radio" ng-model="config.readOnly" ng-value='false'>&nbsp;false</label>
								</p>
							</td>
						</tr>
						<tr>
							<td class='text-right'><strong>background</strong></td>
							<td>
								<p>
									<code>"light"</code> if the mood colors need to contrast against a light background, or <code>"dark"</code> if they need to contrast against a dark background. Defaults to <code>"light"</code>
								</p>
								<p class='small'>
									<span class='text-muted'>currently</span>
									<label><input type="radio" ng-model="config.background" value='light'>&nbsp;light</label>
									<label><input type="radio" ng-model="config.background" value='dark'>&nbsp;dark</label>
								</p>
							</td>
						</tr>
					</table>
				</div>
						
				<br/>
				
				<h2>Mood Matrix</h2>

				<p>
					The <strong>mood-matrix</strong> directive shows a 3 x 3 grid of mood names. It is intended to work together with the mood canvas, by showing the names of the moods adjacent to the currently selected or hovered mood. 
				</p>
				<p>
					It is responsive, so it will always expand to take up the full width of its parent container, and will always be 30% as high as it is wide. The parent container should be a <code>div</code> with no other children.
				</p>

<div hljs language="xhtml">
<mood-matrix selected='selected' hovered-in-canvas='hoveredInCanvas' hovered-in-matrix='hoveredInMatrix'/>
</div>

				<h4 ng-click='showMatrixAttributes = !showMatrixAttributes' class='clickable'>
					<span ng-hide='showMatrixAttributes' class='glyphicon glyphicon-plus-sign'></span>
					<span ng-show='showMatrixAttributes' class='glyphicon glyphicon-minus-sign'></span>
					Attributes
				</h4>

				<div ng-show='showMatrixAttributes'>

					<table >
						
						<tr>
							<td class='text-right'><strong>selected</strong></td>
							<td>
								<p>
									The selected mood
								</p>
								<p class='small'>
									
									<span class='text-muted'>currently</span> 

									<code>
										<span ng-show='mood'>{{mood}}</span>
										<span ng-hide='mood'>undefined</span>
									</code>

									&nbsp;

									<a ng-show='mood' class='btn btn-default btn-xs' ng-click='mood = undefined'>clear</a>
								</p>
							</td>
						</tr>
						<tr>
							<td class='text-right'><strong>hoveredInCanvas</strong></td>
							<td>
								<p>
								The currently hovered mood in the canvas. This only needs to be specified if the matrix should pan in response to hover events in the canvas.
								</p>
								<p class='small'>
									<span class='text-muted'>currently</span>
									<code>
										<span ng-show='hoveredMoodInCanvas'>{{hoveredMoodInCanvas}}</span>
										<span ng-hide='hoveredMoodInCanvas'>undefined</span>
									</code>
								</p>
							</td>
						</tr>
						<tr>
							<td class='text-right'><strong>hoveredInMatrix</strong></td>
							<td>
								<p>
									The currently hovered mood in the matrix. This only needs to be specified if you
									would like to monitor it.
								</p>
								<p class='small'>
									<span class='text-muted'>currently</span>
									<code>
										<span ng-show='hoveredMoodInMatrix'>{{hoveredMoodInMatrix}}</span>
										<span ng-hide='hoveredMoodInMatrix'>undefined</span>
									</code>
								</p>
							</td>
						</tr>
						<tr>
							<td class='text-right'><strong>config</strong></td>
							<td>
								<p>
									A JSON object that configures the matrix, described below. This only needs to be specified if you would like to deviate from the default configuration.
								</p>
							</td>
						</tr>
					</table>
				</div>

				<h4 ng-click='showMatrixConfig = !showMatrixConfig' class='clickable'>
					<span ng-hide='showMatrixConfig' class='glyphicon glyphicon-plus-sign'></span>
					<span ng-show='showMatrixConfig' class='glyphicon glyphicon-minus-sign'></span>
					Configuration
				</h4>

				<div ng-show='showMatrixConfig'>

					<p>
						You typically use the same configuration object as used by the mood canvas.
					</p>

					<table>
						<tr>
							<td class='text-right'><strong>readOnly</strong></td>
							<td>
								<p>
									<code>true</code> if the canvas should not allow the user to change the selected mood, otherwise <code>false</code>. Defaults to <code>false</code>
								</p>
								<p class='small'>
									<span class='text-muted'>currently</span>
									<label><input type="radio" ng-model="config.readOnly" ng-value='true'>&nbsp;true</label>
									<label><input type="radio" ng-model="config.readOnly" ng-value='false'>&nbsp;false</label>
								</p>
							</td>
						</tr>
						<tr>
							<td class='text-right'><strong>background</strong></td>
							<td>
								<p>
									<code>"light"</code> if the mood colors need to contrast against a light background, or <code>"dark"</code> if they need to contrast against a dark background. Defaults to <code>"light"</code>
								</p>
								<p class='small'>
									<span class='text-muted'>currently</span>
									<label><input type="radio" ng-model="config.background" value='light'>&nbsp;light</label>
									<label><input type="radio" ng-model="config.background" value='dark'>&nbsp;dark</label>
								</p>
							</td>
						</tr>
						<tr>
							<td class='text-right'><strong>followCanvasHover</strong></td>
							<td>
								<p>
									<code>true</code> if the matrix should pan to follow hover events in the canvas, otherwise <code>false</code>. Defaults to <code>true</code>
								</p>
								<p class='small'>
									<span class='text-muted'>currently</span>
									<label><input type="radio" ng-model="config.followCanvasHover" ng-value='true'>&nbsp;true</label>
									<label><input type="radio" ng-model="config.followCanvasHover" ng-value='false'>&nbsp;false</label>
								</p>
							</td>
						</tr>
						<tr>
							<td class='text-right'><strong>inactiveColor</strong></td>
							<td>
								<p>
									The color of an inactive (unselected, unhovered) emotion. Defaults to <code>"#ccc"</code>.
								</p>
							</td>
						</tr>
					</table>
				</div>


				<br/>
				<h2>Mood Data</h2>

				<p>
					The <strong>MoodData</strong> service provides the data behind the two widgets described above.
				</p>

				<p>
					It provides the following methods:
				</p>
				<ul>

				<li>
					<strong>getMoods()</strong> 
					<p>
						returns an array of all 100 moods.
					</p>
				</li>

				<li>
					<strong>getNearestMood(</strong> 
					<code>valence</code>, <code>arousal</code>
					<strong>)</strong>
					<p>
						returns the closest mood to the given coordinates.
					</p>
				</li>

				<li>
					<strong>getRowAndColumn(</strong> 
					<code>valence</code>, <code>arousal</code>
					<strong>)</strong>
					<p>
						returns an array containing row and column indexes nearest the given coordinates.
					</p>
				</li>

				<li>
					<strong>getColor(</strong> 
					<code>valence</code>, <code>arousal</code>, <code>background</code>
					<strong>)</strong>
					<p>
						returns the appropriate color (as a hex string) for the given coordinates and
						background (either <code>light</code> or <code>dark</code>).
					</p>
				</li>



				

			</div>

			<div class='col-sm-4'>

				<div class='affix'>
					<div>
						<mood-canvas 
							selected='mood' 
							hovered='hoveredMoodInCanvas' 
							config='config' 
							counts='counts'
						/>
					</div>
					<div>
						<mood-matrix 
							selected='mood' 
							hovered-in-canvas='hoveredMoodInCanvas' 
							hovered-in-matrix='hoveredMoodInMatrix' 
							config='config'
						/>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>

